<h2><%= "Thank you for placing your order!" %></h2>

<h4><%= "Your order number is ##{@order.id}." %></h4>

<%= button_to "Return to Your Home Page", user_path(@order.user_id), :class => "button", :method => :get %> <br>
