<h2><%= "Choose Your Flavor Profile" %></h2>

<%= form_for(:beer, url: beers_path, method: :get) do |f| %>
    <p>
    <%= f.collection_check_boxes(:flavor_ids, Flavor.all, :id, :descriptor) %>
       <%#= text_field_tag :flavor_1, params[:flavor_1] %><br><br>
       <%#= text_field_tag :flavor_2, params[:flavor_2] %><br><br>
       <%#= text_field_tag :flavor_3, params[:flavor_3] %><br><br>
      <%= f.submit "Search", :name => nil %>
    </p>
<% end %>
    