<h2><%= @beer.name %></h2>

<%= "Brewery: #{@beer.brewery}" %><br>
<%= "Country: #{@beer.country}" %><br><br>

<%= button_to "Like this Beer", user_show_path, :class => "button", :method => :get %> <br>