/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #CFDBC5 url(./beer_wall_opaque.jpg) no-repeat center; 
	margin: 10px; 
	padding: 5px;
    }
    
p { 
	margin-top: 10; 
	text-align: justify;
    }
h2 { 
    font: bold 1.4em georgia, sans-serif;
    letter-spacing: 1px; 
    margin-bottom: 0; 
    color: #202020;
    }
h4 { 
	font: bold 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #202020;
    }
h5 { 
    font: bold 1.4em georgia, sans-serif;
    letter-spacing: 1px; 
    margin-bottom: 0; 
    color: #202020;
    }
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #202020;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #202020;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #202020;
	}
abbr {
	border-bottom: none;
	}
.alert.alert-danger {
	margin-bottom:15px;
	padding:5px 10px;
	}